.List{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listItem{
  display: flex;
  height: 9rem;
  width: 9rem;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
}

.listItem:hover{
  cursor: pointer;
  color: white;
  background: black;
}

.filter{
  padding: .5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}