.container{
  margin: auto;
}

.clientIdHolder{
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  place-items: center left;
}

.clientIdHolder input {
  padding: .5rem;
  border: solid 1.5px rgba(0,0,0,0.2);
  border-radius: 3px;
  min-width: 250px;
}

.clientIdHolder span{
  display: block;
  margin-bottom: .5rem;
}

.btn{
  padding: .5rem .8rem;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 5px;
  background: white;
}

.btn:hover{
  background: black;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .container{
    width: 80%;
  }
}

@media screen and (min-width: 601px){
  .container{
    width: 60%
  }
}